<h1><%= @pokemon.name %></h1>
<p>Price: <%= @pokemon.price %></p>
<!-- Add more details as needed -->
<!-- For example, you can display weight, height, image, etc. -->

<%= link_to "Back to Pokemon List", pokemons_path %>